<div class="logo-container">
</div>

<div href="/" class="logo">
	<a href="/">
		<img src="/assets/resumix_logo.svg" alt="">
	</a>
</div>

<div class="content-left">
	<% if @error %>
	  <div class="error"><%= @error %></div>
	<% end %>

	<div class='login'>
		<!-- <p class="main">Welcome to Resumix.me</p> -->
		<p>Login to view your account.</p>
		<p>Email and password are case-sensitive.</p>

		<form method='POST' action='/login' class="loginForm">
		  <label>EMAIL</label><br>
		  <input type = 'text' name = 'email'><br>
		  <label>PASSWORD</label><br>
		  <input type = 'password' name= 'password'><br>
		  <input type = 'hidden' name = 'authenticity_token' value='<%= form_authenticity_token()%>' size = '65'>
		  <button type = 'submit' class="push"> Login </button>
		</form>
		<p class="or">-OR-</p>

		<%= link_to 'SIGN UP', new_user_path , class: "push"%>
	</div>


	<!-- <p id="notice"><%= notice %></p> -->


</div>

<div class="content-right">
	<p>Some text here that says how neat-o this website is.<br>You should totally sign up for an account!</p>
</div>
