<div class="resume">
	<div class="header">
		<h1>{{name}}</h1>
		<h2>{{userName}}</h2>
		<h2>{{id}}</h2>
	</div>
	<div class="skills">
		{{#skills}}
  			skills go here
		{{/skills}}
	</div>
	<div class="interests">
		{{#interests}}
			{{interests}}
			self
			{{#self}}{{name}}{{/self}}
			{{interests.name}}
			hi
		{{/interests}}
	</div>
	<div class="content">
	</div>
</div>
