<p id="notice"><%= notice %></p>


<h1>Listing Languages</h1>
<% @interests.each do |interest| %>
  <div>
    <span><%= interest.name %></span>
    <span> | <%= link_to 'Edit', edit_interest_path(interest) %></span>
  </div>
<% end %>

<%= link_to 'New Interest', new_interest_path %>

