<div class='center'>
  	<div class='formContainer'>
		<div class='listTitle'>
			<p><%= @interest.name %><%= link_to 'Edit', edit_interest_path(@interest), class: "button interests" %></p>
		</div>
		<div class='lists'>
			<div class='info'>
				<p>
				  <strong>Name:</strong>
				  <%= @interest.name %>
				</p>
			</div>
		</div>
	</div>
</div>
