html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
	height: 100%;
}
body {
  line-height: 1;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/**
COLOR VARIABLES
**/
$Black: #000;
$White: #fff;
$ButtonMain: #FBFBFB;
$ButtonHover: #D4D4D3;
$ButtonShadow: #5D5D5D;
$TextGray: #5D5D5D;
$LightGray: #FBFBFB;
$MediumGray: #D4D4D3;
$Purple: #8B84D3;
$Education: #7799CE;
$Skilltypes: #4FC3C3;
$Workhistory: #63AEC8;
$Languages: #8B84D3;
$Interests: #9F6FD8;


/**
SIZE VARIABLE
**/
$footerHeight: 35px;


* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body,
html {
  padding: 0;
  margin: 0;
  color: $TextGray;

}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Bitter', sans-serif;
  text-align: left;
  color: $TextGray;
  background: $LightGray;
  position: relative;
  padding-bottom: $footerHeight;
}

.education {
  background-color: $Education;
  a{color: white;}
  &:hover {
    background-color: darken($Education, 10% );
  }
}
.skilltypes {
  background-color: $Skilltypes;
  a{
    color: $White;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: darken($Skilltypes, 10% );
  }
}
.workhistory {
  background-color: $Workhistory;
  a{color: white;}
  &:hover {
    background-color: darken($Workhistory, 10% );
  }
}
.languages {
  background-color: $Languages;
  a{color: white;}
  &:hover {
    background-color: darken($Languages, 10% );
  }
}
.interests {
  background-color: $Interests;
  a{color: white;}
  &:hover {
    background-color: darken($Interests, 10% );
  }
}

.center {
  width: 100%;
  min-height: 100%;
  color: $White;
  float: left;
  background-color: $MediumGray;
  text-align: center;
  &>* {
    margin-left: auto !important;
    margin-right: auto!important; 
  }
}

.left {
  width: 60%;
  min-height: calc(100vh - 160px);
  color: $White;
  padding: 0 100px;
  float: left;
  background-color: $MediumGray;
  text-align: center;
  position: relative;
}
.formContainer,
.listContainer {
  background-color: $White;
  font-family: 'Montserrat';
  padding-bottom: 10px;
  h2 {
    font-family: 'Bitter';
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
  }
  .actions {
    margin-top: 30px;
  }
  .label {
    font-size: 18px;
    text-transform: uppercase;
    float: left;
  }
  .button {
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    margin-left: 10px;
    color: $White;
    padding: 5px 10px; 
  }
  hr {
    float: left;
    width: 100%;
  }
  div:last-of-type {
    padding-bottom: 10px;
    hr {
      display: none;
    }
  }
  a {
    padding: 0 10px;
  }
  .lists {
    a {
      padding: 10px 20px;
    }
    .button {
      float: right;
      display: inline-block;
    }
  }
}
.formContainer {
  margin: 40px;
  max-width: 600px;  
}
.listContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(50vw - 40px);
  transform: translate(-50%, -50%);
  text-align: left;
}

.listTitle {
  font-family: 'Bitter';
  background-color: $TextGray;
  height: 54px;
  line-height: 54px;
  p {
    text-align: center;
    font-size: 25px;
    line-height: 54px;
    font-weight: 400;
  }
}

.lists {
  padding: 20px 50px 0;
  .info {
    color: $TextGray;
    p {
      margin: 10px 0;
    }
    div {
      margin: 10px 0;
    }
  }
}

.right {
  width: 40%;
  min-height: calc(100vh - 160px);
  float: left;
  background-color: $White;
  text-align: center;
  position: relative;
  div {
    font-family: 'Bitter';
    font-size: 25px;
    height: 54px;
    width: 265px;
    margin: auto;
    line-height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content-wrapper {
  width: 100%;
  min-height: calc(100vh - 160px);
  float: left;
  overflow: hidden;
}
.content-left,
.content-right {
  width: 50%;
  min-height: calc(100vh - 35px);
}
.content-left {
  color: $White;
  padding: 320px 65px 0;
  width: 50%;
  float: left;
  background-color: $Purple;
  text-align: center;
  .or {
    margin: 9px 0 -26px;
    padding-bottom: 9px;
    color: $White;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 12px;
  }
}
.content-right {
  padding: 445px 145px 0;
  width: 50%;
  float: left;
  background-color: $White;
  p {
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 20px;
    color: $TextGray;
    text-align: center;
    line-height: 25px;
  }
}

.header {
  padding: 0 30px 0 25px;
  height: 86px;
  float: left;
  width: 100%;
  background-color: $LightGray;
  border-bottom: solid $MediumGray 1px;
}

.logoNav {
  margin: 10px 0 0;
  width: 285px;
  display: block;
  float: left;
}

.greeting {
  float: right;
  font-family: 'Bitter';
  padding-top: 20px;
  a:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
  }

  a:nth-child(2) {
    font-size: 17px;
    font-weight: 700;
  }
  p {
    font-family: 'Bitter';
    font-size: 16px;
    color: $TextGray;
    padding-bottom: 5px;
  }
}

.tabs {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  li {
    width: 20%;
    height: 40px;
    float: left;
    line-height: 40px;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $White;
        text-transform: uppercase;
      }
  }
  li:nth-child(1) {
    background-color: #4FC3C3;
    &:hover {
      background-color: darken(#4FC3C3, 10% );
    }
  }
  li:nth-child(2) {
    background-color: #63AEC8;
    &:hover {
      background-color: darken(#63AEC8, 10% );
    }
  }
  li:nth-child(3) {
    background-color: $Education;
    &:hover {
      background-color: darken($Education, 10% );
    }
  }
  li:nth-child(4) {
    background-color: #8B84D3;
    &:hover {
      background-color: darken(#8B84D3, 10% );
    }
  }
  li:nth-child(5) {
    background-color: #9F6FD8;
    &:hover {
      background-color: darken(#9F6FD8, 10% );
    }
  }
}

.logo {
  position: absolute;
  top: 60px;
  right: 140px;
  margin: 15px 0;
  height: 34px;
  width: 540px;
  display: block;
  float: right;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $MediumGray;
  transform:skew(0deg,10deg);
  transform-origin: 100% 0;
  min-height: 400px
}

a {
  text-decoration: none;
  color: $TextGray;

}

h2 {
  font-weight: 700;
  color: $TextGray;
}

form {
  label {
    padding: 30px 0 5px 0;
    display: inline-block;
    font-size: 15px;
    font-family: 'Bitter';
    font-weight: 700;
  }

  input {
    width: 100%;
    height: 30px;
    max-width: 412px;
    border-radius: 25px;
    font-family: 'Bitter', serif;
    font-size: 16px;
    border: 0;
    outline: 0;
    color: $TextGray;
    padding-left: 20px;
  }

  &.logoutForm {
    height: 100%;
    input[type="submit"] {
      border: none;
      background-color: $Black;
      color: $White;
      float: right;
      padding: 8px 16px;
      font-family: 'Bitter', serif;
      font-weight: 700;
      font-size: 15px;
      height: 100%;
      width: auto;
      outline: 0;
      &:hover {
        background-color: $White;
        color: $ButtonMain;      
      }
    }
  }
}

.push {
  font-family:'Bitter', sans-serif;
  font-weight: 700; 
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 16px;
  margin-top: 30px;
  height: 36px;
  width: 100%;
  max-width: 412px;
  border: none;
  outline: 0;
  background-color: $ButtonMain;
  box-shadow: 0 3px 0 0 $ButtonShadow;
  border-radius: 25px;
  color: $TextGray;
  display: inline-block;
  text-align: center;
    &:hover {
      color: $White;
      background-color: $ButtonHover;
    }
    a {
      padding-top: 8px;
    }
}

.field {
  color: $TextGray;
  input[type="text"] {
    background-color: $MediumGray;
  }
}

footer {
  line-height: $footerHeight;
  height: $footerHeight;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $TextGray;
    p {
      color: $White;
      display: block;
      font-family: 'Bitter', serif;
      font-size: 13px;
      text-align: center;
    } 
}