html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
	height: 100%;
}
body {
  line-height: 1;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

/**
COLOR VARIABLES
**/
$Black: #000;
$White: #fff;
$ButtonMain: #F7F972;
$ButtonHover: #FDCF44;
$ButtonShadow: #5D5D5D;
$TextGray: #5D5D5D;
$LightGray: #FBFBFB;
$MediumGray: #D4D4D3;
$DarkBlue: #003E5F;
$Yellow: #F7F972;
$Pink: #F64687;
$Aqua: #4FC3C3;
$Orange: #F9DC72;
/**
SIZE VARIABLE
**/
$footerHeight: 35px;


* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Bitter', sans-serif;
  text-align: left;
  color: $TextGray;
  background: $LightGray;
  position: relative;
  padding-bottom: $footerHeight + 20px;
}
.content-wrapper {
  width: 100%;
  float: left;
  overflow: hidden;
}
.content-left,
.content-right {
  width: 50%;
  min-height: 100%;
}
.content-left {
  color: $White;
  padding: 320px 65px 0;
  width: 50%;
  float: left;
  background-color: $Aqua;
  text-align: center;
  p {
    color: $White;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 12px;
  }
}
.content-right {
  padding: 445px 145px 0;
  width: 50%;
  float: left;
  p {
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 20px;
    color: $TextGray;
    text-align: center;
    line-height: 25px;
  }
}

.header {
  padding: 0 30px 0 25px;
  height: 86px;
  float: left;
  width: 100%;
  background-color: $LightGray;
  border-bottom: solid $MediumGray 5px;
}

.logoNav {
  margin: 10px 0 0;
  width: 285px;
  display: block;
  float: left;
}

.greeting {
  float: right;
  font-family: 'Bitter';
  padding-top: 20px;
  a {
    font-size: 19px;
    font-weight: 700;
  }
  p {
    font-family: 'Bitter';
    font-size: 16px;
    color: $TextGray;
  }
}

.tabs {
  font-family: 'Bitter';
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  li {
    width: 20%;
    height: 70px;
    float: left;
    line-height: 70px;
      a {
        color: $White;
        text-transform: uppercase;
      }
  }
  li:nth-child(1) {
    background-color: #4FC3C3;
  }
  li:nth-child(2) {
    background-color: #9F6FD8;
  }
  li:nth-child(3) {
    background-color: #B1D322;
  }
  li:nth-child(4) {
    background-color: #F77CAE;
  }
  li:nth-child(5) {
    background-color: #3FC380;
  }
}

.logo {
  position: absolute;
  top: 60px;
  right: 140px;
  margin: 15px 0;
  height: 34px;
  width: 540px;
  display: block;
  float: right;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $Yellow;
  transform:skew(0deg,10deg);
  transform-origin: 100% 0;
  min-height: 400px
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  color: $TextGray;
}

form {
  label {
    padding: 30px 0 5px 0;
    display: inline-block;
    font-size: 15px;
    font-family: 'Bitter';
    font-weight: 700;
  }

  input {
    width: 100%;
    height: 30px;
    max-width: 412px;
    border-radius: 25px;
    font-family: 'Bitter', serif;
    font-size: 16px;
    border: 0;
    outline: 0;
    color: $TextGray;
    padding-left: 20px;
  }

  &.logoutForm {
    height: 100%;
    input[type="submit"] {
      border: none;
      background-color: $Black;
      color: $White;
      float: right;
      padding: 8px 16px;
      font-family: 'Bitter', serif;
      font-weight: 700;
      font-size: 15px;
      height: 100%;
      width: auto;
      outline: 0;
      &:hover {
        background-color: $White;
        color: $ButtonMain;      
      }
    }
  }
}

.push {
  font-family:'Bitter', sans-serif;
  font-weight: 700; 
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 16px;
  margin-top: 20px;
  height: 36px;
  width: 100%;
  max-width: 412px;
  border: none;
  outline: 0;
  background-color: $ButtonMain;
  box-shadow: 0 3px 0 0 $ButtonShadow;
  border-radius: 25px;
  color: $TextGray;
  display: inline-block;
  text-align: center;
    &:hover {
      color: $White;
      background-color: $ButtonHover;
    }
    a {
      padding-top: 8px;
    }
}

footer {
  line-height: $footerHeight;
  height: $footerHeight;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $TextGray;
    p {
      color: $White;
      display: block;
      font-family: 'Bitter', serif;
      font-size: 13px;
      text-align: center;
    } 
}