<div class='left'>

    <div class='listContainer'>
    
        <div class='listTitle'>
            <p>RESUMES</p>
        </div>
		<% @resumes.each do |resume| %>
		<div class='lists'>
		<a href="/resumes/<%= resume.id%>"><%= resume.name %></a>
		            <hr>
          </div>  
        <% end %>
    </div>
</div>

<div class='right'>
    <div class='resumes'><%= link_to 'NEW RESUME', new_resume_path %></div>